<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<style type="text/css">
		body{
			padding:0px;
			margin:0px;
			border: 1px solid red;
		}
		.top{
			position: fixed;
			background-color: #eee;
			height: 200px;
			width: 79%;
			left: 21%;
			overflow: hidden;
			z-index: 10;
		}
		.left{
			position: fixed;
			background-color: gray;
			height: 400px;
			width: 20%;
		}
		.content{
			background-color: #f1f1f1;
			top: 210px;
			position: relative;
			height: 2000px;
			margin-left: 21%;

		}

	</style>
</head>
<body>
	<header class="top">top</header>
	<aside class="left">left</aside>
	<section class="content">content</section>
</body>
</html>
